@theme {
  --color-primary-1: #fffcfc;
  --color-primary-2: #fff7f6;
  --color-primary-3: #ffebe8;
  --color-primary-4: #ffdad5;
  --color-primary-5: #ffcbc5;
  --color-primary-6: #ffbbb3;
  --color-primary-7: #fba69e;
  --color-primary-8: #f38a81;
  --color-primary-9: #ff4a48;
  --color-primary-10: #f1393b;
  --color-primary-11: #d61725;
  --color-primary-12: #671515;
	--color-primary-contrast: #fff;

  --color-neutral-1: #fcfcfc;
  --color-neutral-2: #f9f9f9;
  --color-neutral-3: #f0f0f0;
  --color-neutral-4: #e8e8e8;
  --color-neutral-5: #e0e0e0;
  --color-neutral-6: #d9d9d9;
  --color-neutral-7: #cecece;
  --color-neutral-8: #bbb;
  --color-neutral-9: #8d8d8d;
  --color-neutral-10: #838383;
  --color-neutral-11: #646464;
  --color-neutral-12: #202020;
}